<li>
  <% if user.image.present? %>
    <%= image_tag user.image, size: 50 %>
  <% else %>
    <%= gravatar_for user, size: 50 %>
  <% end %>
  <%= link_to user.name, user %>
  <% if current_user.admin? &&  !current_user.current_user?(user) %>
    <span>|  </span>
    <span>
      <%= link_to "delete", user, method: :delete,
        data: {confirm: "You sure?"} %>
    </span>
  <% end %>
</li>
