<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if @user.image.present? %>
        <%= image_tag @user.image, size: 80 %>
      <% else %>
        <%= gravatar_for @user %>
      <% end %>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
